$white-color: #fff;
$lighter-grey: rgb(201, 198, 198)7);
$light-grey: rgb(139, 137, 137);
$dark-grey: rgb(114, 114, 114);
$darker-color: rgb(78, 76, 76);
$darkest-color: rgb(27, 27, 27);
$black-color: #000;
